multitenancy_enabled: false

server:
  http_listen_port: 9009

common:
  storage:
    backend: filesystem
    filesystem:
      dir: /tmp/mimir/tsdb

blocks_storage:
  backend: filesystem
  filesystem:
    dir: /tmp/mimir/tsdb

ruler_storage:
  backend: filesystem
  filesystem:
    dir: /tmp/mimir/rules

ruler:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

compactor:
  data_dir: /tmp/mimir/compactor
  sharding_ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

distributor:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

ingester:
  ring:
    replication_factor: 1
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

store_gateway:
  sharding_ring:
    instance_addr: 127.0.0.1
    replication_factor: 1
    kvstore:
      store: inmemory

limits:
  max_global_exemplars_per_user: 100000
  compactor_blocks_retention_period: 168h
  ingestion_rate: 10000
  ingestion_burst_size: 20000
