apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
spec:
  template:
    spec:
      containers:
        - name: otel-collector
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempo
spec:
  template:
    spec:
      containers:
        - name: tempo
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 600m
              memory: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
spec:
  template:
    spec:
      containers:
        - name: loki
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 600m
              memory: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mimir
spec:
  template:
    spec:
      containers:
        - name: mimir
          resources:
            requests:
              cpu: 150m
              memory: 384Mi
            limits:
              cpu: 700m
              memory: 1536Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
spec:
  template:
    spec:
      containers:
        - name: grafana
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 400m
              memory: 512Mi
